html,body {
  font-family: "Zalando Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal !important;
 font: normal normal bold 16px/2 normal;
 
}
body{  font: normal 16px/2 !important;}


.system-logo {
  width: 103.5px;
  height: 24.5px;
  position: absolute;
  right: 80px;
  top: 35px;
  background-image: url('../img/intergrus.png');
  background-size: 100% 100%;
}